.App {
  text-align: center;
  margin: 100px;
  margin-top: 800px;
  padding:10px 25px;
  border:1px solid #ccc;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

